canvas {
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    display: inline;
    margin-left:60px;
}
body {
    margin-top: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
    width: 2400px;
    height: 1810px;
    margin:auto;
    background-color: rgba(240, 255, 0, 0.11);
    border-radius: 20px;
    border: 2px solid #6CB37E;
}

h1 {
    font-size:400%;
    margin-bottom: -15px;
}

#names {
    font-size: 200%;
}

article h2 {
    margin-top: 0px;
    background-color:#DEFF00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 2px solid #6CB37E;
    
}

header * {
    width:100%;
    text-align: center;
}

header p {
    font-size:150%;
}

select:focus {
    outline: 0;
}

#left-column {
    width:800px; 
    height:100%;
    float: left;
}

article {
    background-color: rgba(240, 255, 0, 0.11);
    margin:0px 10px 10px;
    border-radius: 20px;
    border: 2px solid #6CB37E;

}

article p {
    font-size: 130%;
    padding: 0px 20px;
}


input[type=range] {
    margin-left:60px;
}


 .sigma-scene {
    background: #FEFFEF;
  }

ul {
    margin: 20px 10px 20px -10px;

}

li {
    list-style-type: none;
}

sup {
    font-size: 60%;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
